body{
    margin: 0;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(170, 219, 229);
    height: 100vh;
    display: grid;
    place-items: center;
}
/* #container{
    
} */
#container input
{
    background-color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 20px;
    margin: 30px auto;
    font-size: 20px;
}
#container input:focus
{
    border: none;
    
}
#container select
{
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px 70px;
    margin: 5px auto;
    display: block;
    font-size: 20px;
}
#container select option{
    background-color: rgb(176, 220, 231);
    border-radius: 20px;
}
#container select option:hover{
    background-color: rgb(241, 68, 68);
    color: white;
}
#btn{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 68, 68);
    color: white;
    font-size: 20px;
    padding: 10px 70px;
    margin: 20px auto 5px auto;
}
@media (max-width:430px)
{
    #container input{
        padding: 10px 30px;
    }
    #container select
    {
        padding: 10px 40px;
    }
}
@media (max-width:330px)
{
    #container input{
        padding: 10px ;
    }
    #container select
    {
        padding: 10px ;
    }
}